.title {
    color:darkgreen;
    text-align:center;
    font-family: fantasy;
    font-size: 4em;
}
.image-container {
    max-width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.text-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}
body {
    background-color: wheat;
}
.links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
.title-two {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 3em;
    color: brown;
}
.p2 {
    text-align: center;
}
.p2-1 {
    text-align: center;
}